/* Challenge CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styles */
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;

  /* background-image: url(/landing-page-1/assets/chaigym.png); */
  background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),
  url(/landing-page-1/assets/chaigym.png);
}

/* Navbar styles */
.navbar {
  display: flex;
  background-color: rgba(46, 38, 38, 0.979);
  justify-content: space-between;

  /* Add styles for navbar */
}

.logo {
  display: flex;
  align-items: center;
  color: #ffffff;
  gap: 20px;
  margin-left: 40px;
 /* Add styles for the logo */
}

.logo img {  border-radius: 25px;

  /* Add styles for logo image */
}


.nav-links {
  
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 50px;
 /* Add styles for nav links */
}
.nav-links a {
  text-decoration: none;
  color: #ffffff;

}

.nav-links a:hover {
  /* Add hover styles for nav links */

    cursor: pointer;
    color: #52778b;
}

/* Hero section styles */
.hero {margin-top: 100px;

  /* Add styles for hero section */
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
  color: #ffffff;
}

.hero-content h1 {
  /* Add styles for hero heading */
}

.hero-content p {
  /* Add styles for hero paragraph */
}

.cta-button {
  background-color: #f3a410;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  /* Add styles for CTA button */
}

.cta-button:hover {
  background-color:#ffffff;
  cursor: pointer;
  transform: scale(1.1);

  /* Add hover styles for CTA button */
}

/* Features section styles */
.features {
  background-color: #0a0101ce;
  margin-top: 50px;
  display: flex;
  justify-content:space-evenly ;
  /* Add styles for features section */
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 10px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f3a410;
  border-radius: 10px;
  padding: 10px 15px;
  width: 300px;
  margin-top: 40px;
  margin-bottom: 40px;
  /* Add styles for each feature block */
}

.feature h3 {
  color: #f3a410;
  /* Add styles for feature heading */
}

.feature p {
  color: #ffffff;
  /* Add styles for feature paragraph */
}
