/* Challenge CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
  background-color:#141313;
}

.container {
  /* Add your styles here */
}

.header {
  /* Add your styles here */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;

}

h1 {
  color: #d15656;
  /* Add your styles here */
}

.subtitle {
  color: #ffffff;
  opacity: 0.5;
  /* Add your styles here */
}

.pricing-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
  justify-content: center;
  /* Add your styles here */
}

.pricing-card {
  /* Add your styles here */
  display: flex;
  flex-direction: column;
  align-items: center;
  border:1px solid#f1e0e0;
  width: 200px;
  padding: 10px 25px;
  gap: 20px;
  border-radius: 10px;
  background-color: #262626;
}

.pricing-card:hover {
  /* Add your styles here */
  box-shadow: 0px 0px 10px#313131;
}

.card-header {
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  /* Add your styles here */
}

.icon {
  font-size: 25px;
  /* Add your styles here */
}

.popular-tag {
  position: absolute;
  margin-top: -25px;
  font-size: 10px;
  background-color: #e77a15;
  border-radius: 10px;
  padding: 5px 10px;
  /* Add your styles here */
}

.price-block {
  background-color: #464141;
  border-radius: 15px;
  padding: 5px 10px;
  width: 120px;
  text-align: center;
  /* Add your styles here */
}

.price {
  color: #d15656;
  font-size: 20px;
  /* Add your styles here */
}

.period {
  font-size: 10px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.4;
  /* Add your styles here */
}

.features {
  list-style-type: none;
  /* Add your styles here */
}

.features li {
  color: #ffffff;
  font-size: 10px;
  margin-bottom: 10px;
  /* Add your styles here */
}

.features li.disabled {

  opacity: 0.2;

  /* Add your styles here */
}

.join-btn {
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #d15656;
    background-color: transparent;
    color: #d15656;
  /* Add your styles here */
}

.join-btn:hover {
  background-color: #d15656;
  color:#141313;
  /* Add your styles here */
}

/* Custom Class Modifiers */
.warrior {
  border: 1px solid #fd6161;
  background-color: #ff6b6b1a;

  /* Add your styles here */
}

.champion {
  border: 1px solid#fad234;
  background-color: #fed73d11;
  /* Add your styles here */
}

.champion .price {
  color: #fad234;
  /* Add your styles here */
}

.champion .join-btn {
  color:#fad234;
  border:1px solid #fad234;

  /* Add your styles here */
}

.champion .join-btn:hover {
  /* Add your styles here */
  background-color: #fad234;
  color:#141313;
}
